body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; /* lembrar que centraliza */
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; 
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 24px;
    color: #333;
}

.card input[type="number"] {
    max-width: 150px;
}

.card input[type="button"] {
    max-width: 150px;
}

.card input[type="number"], .card input[type="button"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.card input[type="button"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card input[type="button"]:hover {
    background-color: #45a049;
}

#resultado p {
    color: #555;
    font-size: 16px;
    font-weight: bold;
}
